<a href="https://colab.research.google.com/github/dojun43/ML-Example/blob/master/LabelEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library

In [ ]:
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

# Data

In [ ]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Label Encoding

- Encoding

In [ ]:
encoder = LabelEncoder()
encoder.fit(titanic['class'])
titanic['class'] = encoder.transform(titanic['class'])

In [ ]:
titanic['class'].head()

0    2
1    0
2    2
3    0
4    2
Name: class, dtype: int64

- Decoding

In [ ]:
titanic['class'] = encoder.inverse_transform(titanic['class'])

In [ ]:
titanic['class'].head()

0    Third
1    First
2    Third
3    First
4    Third
Name: class, dtype: object

# Label Encoding
- 여러 column에 적용

In [ ]:
object_col = titanic.dtypes[titanic.dtypes == "object"].index.tolist()
object_col

['sex', 'embarked', 'class', 'who', 'embark_town', 'alive']

In [ ]:
encoder_dict = {}

for col in object_col:
  encoder = LabelEncoder()
  encoder.fit(titanic[col])
  titanic[col] = encoder.transform(titanic[col])

  encoder_dict[col] = encoder

In [ ]:
encoder_dict

{'sex': LabelEncoder(),
 'embarked': LabelEncoder(),
 'class': LabelEncoder(),
 'who': LabelEncoder(),
 'embark_town': LabelEncoder(),
 'alive': LabelEncoder()}

In [ ]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,NaN,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,C,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,NaN,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,C,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,NaN,2,0,True